{% set pageCanonical = pageCanonical or (permalink or "https://przemekmiros.pl/") %}
{% set pageOgImage = pageOgImage or "https://przemekmiros.pl/assets/img/open.png" %}
{% set barbaNamespace = barbaNamespace or "home" %}
{% set mainId = mainId or "home" %} 
{% set currentPage = currentPage or barbaNamespace %}
{% set loadingActive = loadingActive or barbaNamespace %}
{% set loadingLabel = loadingLabel or title or "Ładuję" %}

<!DOCTYPE html>
<html lang="pl">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title }} - Przemek Miros Strony Internetowe</title>
    <meta name="description" content="{{ pageDescription }}" />
    <meta property="og:title" content="Przemek Miros Strony Internetowe" />
    <meta property="og:description" content="{{ pageDescription }}" />
    <meta property="og:image" content="{{ pageOgImage }}" />
    <meta property="og:site_name" content="Przemek Miros" />
    <meta property="og:locale" content="pl" />
    <meta property="og:type" content="website" /> 
    <meta property="twitter:title" content="Przemek Miros Strony Internetowe" />
    <meta property="twitter:description" content="{{ pageDescription }}" />
    <meta property="twitter:image" content="{{ pageOgImage }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="google" content="notranslate" />
    <meta property="og:locale" content="pl" />
    <link rel="canonical" href="{{ pageCanonical }}" />
    <link rel="icon" href="https://przemekmiros.pl/assets/img/favicon.png">
    <link rel="preload" as="font" href="/assets/fonts/NeueMontreal-Regular.otf" type="font/otf" crossorigin="anonymous">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/locomotive-scroll.css" rel="stylesheet">
    <link href="/assets/css/styleguide.css" rel="stylesheet">
    <link href="/assets/css/components.css" rel="stylesheet">
    <link href="/assets/css/style-new.css" rel="stylesheet">
    
  </head>
  <body data-barba="wrapper">
    <div class="no-scroll-overlay"></div>
    <div class="loading-container">
      <div class="loading-screen">
        <div class="rounded-div-wrap top">
          <div class="rounded-div"></div>
        </div>
        <div class="loading-words">
          <h2 class="home-active home-active-first">Witaj <div class="dot"></div>
          </h2>
          <h2 class="home-active">Miło <div class="dot"></div>
          </h2>
          <h2 class="home-active">Cię <div class="dot"></div>
          </h2>
          <h2 class="home-active">Widzieć <div class="dot"></div>
          </h2>
          <h2 class="home-active-last">&colon;&rpar; 
          </h2>
          <h2 class="active">{{ loadingLabel }} <div class="dot"></div>
          </h2>
        </div>
        <div class="rounded-div-wrap bottom">
          <div class="rounded-div"></div>
        </div>
      </div>
    </div> 
    <main class="main" id="{{ mainId }}" data-barba="container" data-barba-namespace="{{ barbaNamespace }}">
      {% if works %}
        {% set works = works %}
{% elseif currentPage == 'realizacje' or barbaNamespace == 'realizacje' %}
        {% set works = collections.worksAll %}
      {% else %}
        {% set works = collections.works %}
      {% endif %}
      {% set limitWorks = currentPage != 'realizacje' and barbaNamespace != 'realizacje' %}
      <div class="mouse-pos-list-image no-select">
        <div class="mouse-pos-list-image-bounce overlay">
          <div class="float-image-wrap">
            {% for work in works %}
              {% if not limitWorks or loop.index0 < 5 %}
                <li class="mouse-pos-list-image-inner {{ (work.data.classes or []) | join(' ') }}">
                  <div
                    class="overlay overlay-image lazy"
                    style="background-color: {{ work.data.tileBg or '#fff' }}; background-position: center center; background-repeat: no-repeat; background-size: cover;"
                    data-bg="{{ work.data.hoverImage or work.data.tileImage }}"
                  ></div>
                </li>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="mouse-pos-list-btn no-select"></div>
      <div class="mouse-pos-list-span no-select">
        <p>Zobacz</p>
      </div>
      <div class="btn btn-hamburger">
        <div class="btn-click magnetic" data-strength="50" data-strength-text="25">
          <div class="btn-fill"></div>
          <div class="btn-text">
            <div class="btn-bars"></div>
            <span class="btn-text-inner">Menu</span>
          </div>
        </div>
      </div>
      <div class="overlay fixed-nav-back"></div>
      <div class="fixed-nav theme-dark">
        <div class="fixed-nav-rounded-div">
          <div class="rounded-div-wrap">
            <div class="rounded-div"></div>
          </div>
        </div>
        <div class="fixed-nav-inner">
          <div class="row nav-row">
            <h5>Nawigacja</h5>
            <div class="stripe"></div>
            <ul class="links-wrap">
              <li class="btn btn-link{% if currentPage == 'home' %} active{% endif %}">
                <a href="/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                  <span class="btn-text">
                    <span class="btn-text-inner">Główna</span>
                  </span>
                </a>
              </li>
              <li class="btn btn-link{% if currentPage == 'realizacje' %} active{% endif %}">
                <a href="/realizacje/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                  <span class="btn-text">
                    <span class="btn-text-inner">Realizacje</span>
                  </span>
                </a>
              </li>
              <li class="btn btn-link{% if currentPage == 'o-mnie' %} active{% endif %}">
                <a href="/o-mnie/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                  <span class="btn-text">
                    <span class="btn-text-inner">O mnie</span>
                  </span>
                </a>
              </li>
              <li class="btn btn-link{% if currentPage == 'kontakt' %} active{% endif %}">
                <a href="/kontakt/" class="btn-click magnetic" data-strength="24" data-strength-text="12">
                  <span class="btn-text">
                    <span class="btn-text-inner">Kontakt</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="row social-row">
            <div class="stripe"></div>
            <div class="socials">
              <h5>Media</h5>
              <ul>
                <li class="btn btn-link btn-link-external">
                  <a href="https://www.facebook.com/przemekstronyinternetowe" target="_blank" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                    <span class="btn-text">
                      <span class="btn-text-inner">Facebook</span>
                    </span>
                  </a>
                </li>
                <li class="btn btn-link btn-link-external">
                  <a href="https://www.behance.net/przemyslaw#" target="_blank" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                    <span class="btn-text">
                      <span class="btn-text-inner">Behance</span>
                    </span>
                  </a>
                </li>
                <li class="btn btn-link btn-link-external">
                  <a href="https://github.com/PrzemekMiros" target="_blank" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                    <span class="btn-text">
                      <span class="btn-text-inner">Github</span>
                    </span>
                  </a>
                </li>
                <li class="btn btn-link btn-link-external">
                  <a href="https://codepen.io/przemek-miros/" target="_blank" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                    <span class="btn-text">
                      <span class="btn-text-inner">Codepen</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
