<div class="nav-bar">
  <div class="credits-top">
    <div class="btn btn-link btn-left-top">
      <a href="/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
        <span class="btn-text">
          <div class="credit">
            <span>©</span>
          </div>
          <div class="cbd">
            <span class="code-by">Code by </span>
            <span class="dennis">
              <span class="dennis-span">Przemek</span>
              <span class="snellenberg">Miros</span>
            </span>
          </div>
        </span>
      </a>
    </div>
  </div>
  <ul class="links-wrap">
    <li class="btn btn-link{% if currentPage == 'realizacje' %} active{% endif %}">
      <a href="/realizacje/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
        <span class="btn-text">
          <span class="btn-text-inner">Realizacje</span>
        </span>
      </a>
    </li>
    <li class="btn btn-link{% if currentPage == 'o-mnie' %} active{% endif %}">
      <a href="/o-mnie/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
        <span class="btn-text">
          <span class="btn-text-inner">O mnie</span>
        </span>
      </a>
    </li>
    <li class="btn btn-link{% if currentPage == 'kontakt' %} active{% endif %}">
      <a href="/kontakt/" class="btn-click magnetic" data-strength="20" data-strength-text="10">
        <span class="btn-text">
          <span class="btn-text-inner">Kontakt</span>
        </span>
      </a>
    </li>
    <li class="btn btn-link btn-menu">
      <div class="btn-click magnetic" data-strength="20" data-strength-text="10">
        <div class="btn-text">
          <span class="btn-text-inner">Menu</span>
        </div>
      </div>
    </li>
  </ul>
</div>
