---
pagination:
  data: collections.works
  size: 1
  alias: work
permalink: false
eleventyExcludeFromCollections: true
---
{% set pageTitle = work.data.pageTitle or work.data.title %}
{% set pageDescription = work.data.pageDescription or work.data.role %}
{% set pageCanonical = work.data.href %}
{% set pageOgImage = work.data.ogImage or work.data.tileImage %}
{% set barbaNamespace = "work-single" %}
{% set mainId = "work-single" %}
{% set currentPage = "work" %}
{% set loadingActive = "work" %}
{% set works = collections.works %}
{% include "partials/header.njk" %}

<div class="container medium once-in">
  <div class="row">
    <div class="flex-col">
      <h1>{{ work.data.title }}</h1>
    </div>
  </div>
</div>

<section class="section case-intro once-in" data-scroll-section>
  <div class="container medium">
    <div class="row">
      <div class="flex-col">
        <h5>Role / Services</h5>
        <div class="stripe"></div>
        {% set services = work.data.services or [work.data.role] %}
        {% for service in services %}
        <li><p>{{ service }}</p></li>
        {% endfor %}
      </div>
      <div class="flex-col">
        <h5>Credits</h5>
        <div class="stripe"></div>
        {% for credit in work.data.credits or [] %}
        <li><p>{{ credit }}</p></li>
        {% endfor %}
      </div>
      <div class="flex-col">
        <h5>Location & year</h5>
        <div class="stripe"></div>
        {% if work.data.location %}<li><p>{{ work.data.location }}</p></li>{% endif %}
        {% if work.data.year %}<li><p>{{ work.data.year }}</p></li>{% endif %}
      </div>
    </div>
  </div>
</section>

{% if work.data.liveUrl or work.data.heroImage or work.data.heroOverlayImage %}
<section class="section case-intro-image once-in block-padding-bottom" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="flex-col">
        {% if work.data.liveUrl %}
        <div class="btn-wrap theme-dark">
          <div class="btn btn-round" data-scroll data-scroll-speed="2" data-scroll-position="top">
            <a href="{{ work.data.liveUrl }}" target="_blank" class="btn-click magnetic" data-strength="100" data-strength-text="50">
              <div class="btn-fill"></div>
              <span class="btn-text">
                <span class="btn-text-inner">Live site <div class="arrow"><?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>arrow-up-right</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-1019.000000, -279.000000)" stroke="#FFFFFF" stroke-width="1.5">
            <g id="arrow-up-right" transform="translate(1026.000000, 286.000000) rotate(90.000000) translate(-1026.000000, -286.000000) translate(1020.000000, 280.000000)">
                <polyline id="Path" points="2.76923077 0 12 0 12 9.23076923"></polyline>
                <line x1="12" y1="0" x2="0" y2="12" id="Path"></line>
            </g>
        </g>
    </g>
</svg></div></span>
              </span>
            </a>
          </div>
        </div>
        {% endif %}
        <div class="single-image">
          {% if work.data.heroImage %}
          <img class="overlay lazy" data-scroll data-scroll-speed="-1" src="{{ work.data.heroImage }}" data-src="{{ work.data.heroImage }}" />
          {% endif %}
          {% if work.data.heroOverlayImage %}
          <img class="overlay overlay-image-top lazy" data-src="{{ work.data.heroOverlayImage }}" />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% for block in work.data.blocks or [] %}
<section class="section single-block block-device block_{{ loop.index0 }}{% if block.paddingBottom %} block-padding-bottom{% endif %} {{ block.extraClasses or '' }}" style="background-color: {{ block.background or '#E6E8EB' }};" data-scroll-section>
  <div class="container">
    <div class="row {{ block.deviceClass or 'device-nodevice' }}">
      <div class="flex-col">
        <div class="device">
          <div class="single-image">
            {% if block.video %}
            <div class="overlay overlay-image {{ block.videoClass or 'playpauze' }}"><video class="overlay" src="{{ block.video }}" loop muted playsinline></video></div>
            {% elseif block.image %}
            <div class="overlay overlay-image lazy" data-bg="{{ block.image }}"></div>
            {% endif %}
          </div>
          {% if block.deviceOverlay %}
          <div class="overlay-device-image"><div class="overlay overlay-device" style="background: url('{{ block.deviceOverlay }}') center center no-repeat; background-size: cover;"></div></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% include "partials/footer.njk" %}
